---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="辐特佳新能源">
  <div class="title_section">
    家庭智能解决方案
  </div>
  <div class="intro">
    <div class="benefit">
      <div class="title">产品卖点</div>
      <div class="intro_content">商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍</div>
    </div>
    <div class="process">
      <div class="title">工作流程</div>
      <div class="intro_content">商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍</div>
    </div>
  </div>
  <div class="cases">
    <div class="item_1">
      <div class="item_content">
        <div class="item_name">户用光伏电站</div>
        <div class="item_desc">
          <div class="item_desc_content">
            户用光伏电站应用于平屋顶、斜屋顶等家庭住宅场景。方案根据家庭建筑风格以及屋顶性状进行定制化设计，在赋予屋顶美观、环保、科技的同时，保障稳定供电，带来经济效益。
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <a class="text" href="/contact">立即联系</a>
  </div>
</Layout>

<style is:global>
  .title_section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 600;
    color: white;
    letter-spacing: 10px;
    background-image: url('/img_5.jpg');
    background-size: cover;
    background-position: center center;
  }
  .intro{
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 80px;
    background-color: #f4f2f2bf;
    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 24px;
        font-weight: 400;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
      }
      .title::after {
        content: "";
        position: absolute;
        left:0; 
        bottom: -5px; 
        width: 50%; 
        border-bottom: 10px solid #006400;
        transform: translateX(50%);
      }
      .intro_content {
        height: 70%;
        line-height: 35px;
        display: flex;
        align-items: center;
        margin-top: 40px;
        border-radius: 20px;
        padding: 25px 40px;
      }
    }
  }
  .cases {
    margin-top: 30px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45vh;
      .item_name {
        width: 40%;
        font-size: 20px;
        font-weight: 400;
      }
      .item_desc {
        flex: 1;
        color: white;
        position: relative;
        padding: 30px;
        background-size: cover;
        background-position: center;
        .item_desc_content {
          z-index: 1;
        }
      }
    }
    .item_content {
      height: 40vh;
      width: 80vw;
      overflow: hidden;
      .item_name {
        height: 100%;
      }
      
    }
  }
  .item_desc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
  .item_1 {
    .item_desc {
      background-image: url('/img_3.jpg');
    }
  }
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    .text {
      height: 100px;
      width: 200px;
      display: flex;
      font-size: 20px;
      font-weight: 400;
      color: white;
      justify-content: center;
      align-items: center;
      background-color: #006400;
    }
    .text:hover {
      color: #006400;
      background-color: rgba(200, 200, 200, 0.5);
    }
  }

</style>

