---
import Layout from '@/layouts/Layout.astro';
import ContactFooter from '@/components/ContactFooter.astro';
---

<Layout title="辐特佳新能源">
  <section class="relative intro pin-card">
    <div
      class="pin-card-box1 gs-blur absolute right-20 bottom-0 translate-y-100%"
    >
      1
    </div>
    <div
      class="pin-card-box2 gs-blur absolute right-20 bottom-0 translate-y-100%"
    >
      2
    </div>
    <div
      class="pin-card-box3 gs-blur absolute right-20 bottom-0 translate-y-100%"
    >
      3
    </div>
  </section>
  <section class="cases">
    <div class="item_1">
      <div class="item_content">
        <div class="item_name">户用光伏电站</div>
        <div class="item_desc">
          <div class="item_desc_content">
            户用光伏电站应用于平屋顶、斜屋顶等家庭住宅场景。方案根据家庭建筑风格以及屋顶性状进行定制化设计，在赋予屋顶美观、环保、科技的同时，保障稳定供电，带来经济效益。
          </div>
        </div>
      </div>
    </div>
  </section>
  <ContactFooter />
</Layout>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);
  const t1 = gsap.timeline({
    scrollTrigger: {
      trigger: '.pin-card',
      start: 'top top',
      pin: true,
      scrub: 1,
      // markers: true,
    },
  });

  t1.to('.pin-card-box1', {
    y: -300,
    duration: 1,
  })
    .to(
      '.pin-card-box2',
      {
        y: -300,
        duration: 1,
      },
      '>1'
    )
    .to(
      '.pin-card-box3',
      {
        y: -300,
        duration: 1,
      },
      '>1'
    );
</script>

<style is:global>
  .intro {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px;
    /* background-color: #f4f2f2bf; */
    background-image: url('/gif_1.gif');
    background-size: cover;
    background-position: center center;
  }
  .cases {
    margin-top: 30px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45vh;
      .item_name {
        width: 40%;
        font-size: 20px;
        font-weight: 400;
      }
      .item_desc {
        flex: 1;
        color: white;
        position: relative;
        padding: 30px;
        background-size: cover;
        background-position: center;
        .item_desc_content {
          z-index: 1;
        }
      }
    }
    .item_content {
      height: 40vh;
      width: 80vw;
      overflow: hidden;
      .item_name {
        height: 100%;
      }
    }
  }
  .item_desc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
  .item_1 {
    .item_desc {
      background-image: url('/img_3.jpg');
    }
  }
</style>
