---
import Layout from '@/layouts/Layout.astro';
import ContactFooter from '@/components/ContactFooter.astro';
import Banner from '@/components/Banner.astro';
import clsx from 'clsx';

import solution05 from '/src/assets/imgs/solution-case/05.png';
import solution06 from '/src/assets/imgs/solution-case/06.png';
import solution07 from '/src/assets/imgs/solution-case/07.png';
import solution08 from '/src/assets/imgs/solution-case/08.png';

// 案例图片 后续可能改为后台获取
const caseList = [
  {
    imgUrl: solution05.src,
    title: '上海浦东',
    desc: '11.18KWp',
  },
  {
    imgUrl: solution06.src,
    title: '上海闵行',
    desc: '15.48KWp',
  },
  {
    imgUrl: solution07.src,
    title: '上海宝山 ',
    desc: '20.64KWp',
  },
  {
    imgUrl: solution08.src,
    title: '上海青浦',
    desc: '11.61KWp',
  },
];
---

<Layout title="辐特佳新能源">
  <Banner title="家庭智能解决方案" imgSrc="/img_23.jpg" />
  <section class="intro_1">
    <div class="item w-40vw <md:w-100vw">
      <div class="item_content fade-trigger">
        <div class="item_desc">
          通过别墅屋顶安装光伏组件，产生可持续性绿色清洁能源。<br />
          光伏所产生的电力优先业主家庭使用，<br />
          多余电力通过双向表出售给国家电网。
        </div>
      </div>
    </div>
  </section>
  <section class="intro_2">
    <div class="item w-40vw <md:w-80vw">
      <div class="item_content fade-trigger">
        <div class="item_desc">
          降低用电成本<br />
          延缓二、三档阶梯电价<br />
          25年以上长期稳定收益
        </div>
      </div>
    </div>
  </section>
  <section class="intro_3">
    <div class="item w-40vw <md:w-80vw">
      <div class="item_content fade-trigger">
        <div class="item_desc">
          屋顶隔热降温，进一步节省能源<br />
          舒心用电
        </div>
      </div>
    </div>
  </section>
  <!-- 案例图片 -->
  <section class="w-full pb-150px section-card-view bg-black text-white">
    <div class="h-[280vw] sticky-wrapper <md:h-[520vw]">
      <div
        class="sticky w-full h-auto top-150px overflow-hidden pt-60px box-border"
      >
        <div class="relative flex w-40vw gap-12 section-wrapper <md:w-80vw">
          <div
            class="flex justify-center flex-shrink-0 w-100% aspect-ratio-[4/3] section-card"
          >
            <h1
              class="text-size-6xl text-nowrap line-height-none mr-5 <md:text-size-4xl"
            >
              相关<br />案例
            </h1>
            <h1
              class="font-en text-center text-size-6xl text-theme mx-2 line-height-none <md:text-size-4xl"
            >
              CASE
            </h1>
          </div>
          {
            caseList.map((item, i) => (
              <div
                class={clsx(
                  'relative flex-shrink-0 w-100% aspect-ratio-[4/3] section-card flex flex-col justify-between item',
                  i % 2 === 0 ? 'flex-col-reverse' : ''
                )}
              >
                <div
                  class="bg-no-repeat bg-cover w-100% h-85%"
                  style={{ backgroundImage: `url(${item.imgUrl})` }}
                />
                <div class="w-100% flex justify-between text-white">
                  <div>
                    <h3 class="text-size-xl">{item.title}</h3>
                    <p class="text-theme">CASE 0{i + 1}</p>
                  </div>
                  <h1 class="text-size-2xl p-2 text-theme line-height-none">
                    {item.desc}
                  </h1>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <ContactFooter />
</Layout>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import ScrollToPlugin from 'gsap/ScrollToPlugin';
  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

  /* ---------------------------------- 一屏滚动 ---------------------------------- */
  const sectionsList = document.querySelectorAll('section');

  // this scrolling object just allows us to conveniently call scrolling.enable(), scrolling.disable(), and check if scrolling.enabled is true.
  // some browsers (like iOS Safari) handle scrolling on a separate thread and can cause things to get out of sync (jitter/jumpy), so when we're animating the scroll position, force an update of GSAP tweens when there's a scroll event in order to maintain synchronization)
  const scrolling = {
    enabled: true,
    events: 'scroll,wheel,touchmove,pointermove'.split(','),
    prevent: (e: Event) => e.preventDefault(),
    disable() {
      if (scrolling.enabled) {
        scrolling.enabled = false;
        window.addEventListener('scroll', gsap.ticker.tick, { passive: true });
        scrolling.events.forEach((e: string, i: number) =>
          (i ? document : window).addEventListener(e, scrolling.prevent, {
            passive: false,
          })
        );
      }
    },
    enable() {
      if (!scrolling.enabled) {
        scrolling.enabled = true;
        window.removeEventListener('scroll', gsap.ticker.tick);
        scrolling.events.forEach((e: string, i: number) =>
          (i ? document : window).removeEventListener(e, scrolling.prevent)
        );
      }
    },
  };

  function goToSection(section: HTMLElement) {
    if (scrolling.enabled) {
      // skip if a scroll tween is in progress
      scrolling.disable();
      gsap.to(window, {
        scrollTo: { y: section, autoKill: false },
        onComplete: scrolling.enable,
        duration: 1,
      });
    }
  }

  sectionsList.forEach((section: HTMLElement) => {
    ScrollTrigger.create({
      trigger: section,
      start: 'top bottom-=1',
      end: 'bottom top+=1',
      onEnter: () => goToSection(section),
      onEnterBack: () => goToSection(section),
    });
  });

  /* ---------------------------------- 一屏滚动 ---------------------------------- */

  /* ---------------------------------- 案例卡片 ---------------------------------- */
  const sectionCase = document.querySelector('.section-card-view');

  const wrapper = sectionCase.querySelector('.section-wrapper');
  const stickyWrapper = sectionCase.querySelector('.sticky-wrapper');
  const cards = sectionCase.querySelectorAll('.section-card');

  const screenWidth = document.documentElement.clientWidth;
  const cardWidth = cards[0].clientWidth;
  const cardMargin = Number(
    window.getComputedStyle(wrapper).getPropertyValue('gap').slice(0, -2)
  );
  const cardsNumber = cards.length;
  const swiperOffset =
    // 距离页面左侧的宽度 * 2
    wrapper.getBoundingClientRect().left * 2 +
    // 每个卡片宽度 * 卡片数量
    cardWidth * cardsNumber +
    // 卡片的左侧距离 * (卡片数量 - 1)
    cardMargin * (cardsNumber - 1) -
    // 屏幕的宽度
    screenWidth;
  const stickyTop = 150;
  gsap.to(wrapper, {
    scrollTrigger: {
      trigger: stickyWrapper,
      start: stickyTop + ' ' + stickyTop,
      end: 'bottom 100%',
      scrub: 0,
      // markers: true,
    },
    ease: 'none',
    x: -swiperOffset,
  });

  const cardScroll = cardWidth + cardMargin;

  cards.forEach((card, index) => {
    const startTrigger = stickyTop - cardScroll * (index - 1);
    if (index > 0) {
      gsap.to(card, {
        scrollTrigger: {
          trigger: card,
          start: 'top ' + startTrigger,
          end: 'bottom ' + cardScroll / cardsNumber,
          scrub: 0,
          // markers: true,
        },
        ease: 'none',
        filter: 'blur(0px)',
        scale: 1,
      });
    }
  });
  /* ---------------------------------- 案例卡片 ---------------------------------- */
</script>

<style is:global>
  .intro_1,
  .intro_2,
  .intro_3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    .item {
      display: flex;
      justify-content: center;
      top: 10vh;
      width: auto;
      height: auto;
      overflow: hidden;
      .item_desc {
        color: white;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        padding: 30px;
        line-height: 30px;
        margin-top: 17vh;
      }
    }
  }

  .intro_1::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95%;
      background-color: black;
      border-radius: 20px;
      opacity: 0.2;
    }
    .intro_2::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95%;
      background-color: black;
      border-radius: 20px;
      opacity: 0.3;
    }
    .intro_3::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95%;
      background-color: black;
      border-radius: 20px;
      opacity: 0.3;
    }
  .intro_1 {
    background-image: url('/img_18.jpg');
    background-size: cover;
    background-position: center center;
  }
  .intro_2 {
    background-image: url('/img_24.png');
    background-size: cover;
    background-position: center center;
  }
  .intro_3 {
    background-image: url('/img_27.jpg');
    background-size: cover;
    background-position: center center;
  }
  .process {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px;
  }
  .section-card + .section-card {
    transform: scale(0.8);
    transform-origin: left;
    filter: blur(10px);
  }
</style>
