---
import Layout from '@/layouts/Layout.astro';
import ContactFooter from '@/components/ContactFooter.astro';
import Banner from '@/components/Banner.astro';

import solution05 from '/src/assets/imgs/solution-case/05.png';
import solution06 from '/src/assets/imgs/solution-case/06.png';
import solution07 from '/src/assets/imgs/solution-case/07.png';
import solution08 from '/src/assets/imgs/solution-case/08.png';


// 案例图片 后续可能改为后台获取
const caseList = [
  {
    imgUrl: solution05.src,
    title: '上海浦东',
    desc: '11.18KWp',
  },
  {
    imgUrl: solution06.src,
    title: '上海闵行',
    desc: '15.48KWp',
  },
  {
    imgUrl: solution07.src,
    title: '上海宝山 ',
    desc: '20.64KWp',
  },
  {
    imgUrl: solution08.src,
    title: '上海青浦',
    desc: '11.61KWp',
  },
];
---

<Layout title="辐特佳新能源">
  <Banner title="家庭智能解决方案" imgSrc="/img_23.jpg" />
  <section class="intro_1">
    <div class="item w-40vw <md:w-80vw">
      <div class="item_content fade-trigger">
        <div class="font-serif item_desc">通过别墅屋顶安装光伏组件，产生可持续性绿色清洁能源。光伏所产生的电力优先业主家庭使用，多余电力通过双向表出售给国家电网。</div>
      </div>
    </div>
  </section>
  <section class="intro_2">
    <div class="item  w-40vw <md:w-80vw">
      <div class="item_content fade-trigger">
        <div class="font-serif item_desc">
          降低用电成本<br />
           延缓二、三档阶梯电价<br />
           25年以上长期稳定收益
        </div>
      </div>
    </div>
  </section>
  <section class="intro_3">
    <div class="item  w-40vw <md:w-80vw">
      <div class="item_content fade-trigger">
        <div class="font-serif item_desc">
          屋顶隔热降温，进一步节省能源
        </div>
      </div>
    </div>
  </section>
  <section class="cases w-100% pt-20 pb-50 section-card-view">
    <h1
      class="title font-serif text-center text-size-4xl text-center fade-trigger mb-10"
    >
      相关案例
    </h1>
    <div class="h-[280vw] sticky-wrapper fade-trigger" data-hook="60%">
      <div
        class="sticky w-100% h-auto top-150px overflow-hidden pt-60px box-border"
      >
        <div class="relative flex w-30vw m-[0_auto] gap-12 section-wrapper">
          {
            caseList.map((item) => (
              <div class="relative flex-shrink-0 w-100% h-300px flex justify-center items-center <md:w-80%  section-card">
                <div
                  class="bg-no-repeat bg-cover w-100% h-100%"
                  style={{ backgroundImage: `url(${item.imgUrl})` }}
                />
                <div class="w-100% flex justify-between absolute bottom-0 text-white section-card-title">
                  <h3 class="text-size-xl p-2">{item.title}</h3>
                  <h1 class="text-size-2xl p-2">{item.desc}</h1>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <ContactFooter />
</Layout>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import ScrollToPlugin from 'gsap/ScrollToPlugin';
  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

  const sections = document.querySelectorAll('.section-card-view');

  // 案例轮播
  sections.forEach((section) => {
    const wrapper = section.querySelector('.section-wrapper');
    const stickyWrapper = section.querySelector('.sticky-wrapper');
    const cards = section.querySelectorAll('.section-card');

    const screenWidth = document.documentElement.clientWidth;
    const cardWidth = cards[0].clientWidth;
    const cardMargin = Number(
      window.getComputedStyle(wrapper).getPropertyValue('gap').slice(0, -2)
    );
    const cardsNumber = cards.length;
    const swiperOffset =
      // 距离页面左侧的宽度 * 2
      wrapper.getBoundingClientRect().left * 2 +
      // 每个卡片宽度 * 卡片数量
      cardWidth * cardsNumber +
      // 卡片的左侧距离 * (卡片数量 - 1)
      cardMargin * (cardsNumber - 1) -
      // 屏幕的宽度
      screenWidth;
    const stickyTop = 150;

    gsap.to(wrapper, {
      scrollTrigger: {
        trigger: stickyWrapper,
        start: stickyTop + ' ' + stickyTop,
        end: 'bottom 100%',
        scrub: 0,
      },
      ease: 'none',
      x: -swiperOffset,
    });

    const cardScroll = cardWidth + cardMargin;

    cards.forEach((card, index) => {
      const startTrigger = stickyTop - cardScroll * (index - 1);
      if (index > 0) {
        gsap.to(card, {
          scrollTrigger: {
            trigger: card,
            start: 'top ' + startTrigger,
            end: 'top ' + cardScroll / 4,
            scrub: 0,
          },
          ease: 'none',
          filter: 'blur(0px)',
          scale: 1,
        });
      }
    });
  });

  const sectionsList = document.querySelectorAll('section');

  // this scrolling object just allows us to conveniently call scrolling.enable(), scrolling.disable(), and check if scrolling.enabled is true.
  // some browsers (like iOS Safari) handle scrolling on a separate thread and can cause things to get out of sync (jitter/jumpy), so when we're animating the scroll position, force an update of GSAP tweens when there's a scroll event in order to maintain synchronization)
  const scrolling = {
    enabled: true,
    events: 'scroll,wheel,touchmove,pointermove'.split(','),
    prevent: (e: Event) => e.preventDefault(),
    disable() {
      if (scrolling.enabled) {
        scrolling.enabled = false;
        window.addEventListener('scroll', gsap.ticker.tick, { passive: true });
        scrolling.events.forEach((e: string, i: number) =>
          (i ? document : window).addEventListener(e, scrolling.prevent, {
            passive: false,
          })
        );
      }
    },
    enable() {
      if (!scrolling.enabled) {
        scrolling.enabled = true;
        window.removeEventListener('scroll', gsap.ticker.tick);
        scrolling.events.forEach((e: string, i: number) =>
          (i ? document : window).removeEventListener(e, scrolling.prevent)
        );
      }
    },
  };

  function goToSection(section: HTMLElement) {
    if (scrolling.enabled) {
      // skip if a scroll tween is in progress
      scrolling.disable();
      gsap.to(window, {
        scrollTo: { y: section, autoKill: false },
        onComplete: scrolling.enable,
        duration: 1,
      });
    }
  }

  sectionsList.forEach((section: HTMLElement) => {
    ScrollTrigger.create({
      trigger: section,
      start: 'top bottom-=1',
      end: 'bottom top+=1',
      onEnter: () => goToSection(section),
      onEnterBack: () => goToSection(section),
    });
  });
</script>

<style is:global>
  .intro_1,
  .intro_2,
  .intro_3 {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px;
    .item {
      position: absolute;
      top: 20vh;
      left: 10vw;
      /* background-color: pink; */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vh;
      overflow: hidden;
      .item_desc {
        font-size: 26px;
        font-weight: 500;
        padding: 30px;
        line-height: 40px;
      }
    }
  }
  .intro_1 {
    background-image: url('/img_18.jpg');
    background-size: cover;
    background-position: center center;
  }
  .intro_2 {
    background-image: url('/img_24.jpg');
    background-size: cover;
    background-position: center center;
  }
  .intro_3 {
    background-image: url('/img_27.jpg');
    background-size: cover;
    background-position: center center;
  }
  .process {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px;
  }
</style>
