---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
import ContactFooter from '@/components/ContactFooter.astro';
import LogoSvg from '@/components/logo/logo';
---

<Layout title="辐特佳新能源">
  <Banner imgSrc="http://image-volt.test.upcdn.net/public/img_14.jpg">
    <div class="flex items-center flex-nowrap">
      <span>关于</span><LogoSvg class="w-200px h-full mt-15px" />
    </div>
  </Banner>

  <section class="w-full h-auto box-border text-white px-20 mb-20 pt-62px">
    <div class="profile py-20px">
      <h1
        class="title text-center text-size-4xl text-center fade-trigger mt-5 mb-2 text-theme"
      >
        辐特佳新能源是谁
      </h1>
      <div class="content text-gray-5 px-40 text-center <md:px-0">
        <p>上海辐特佳新能源是国内专注于分布式光伏领域的创新企业。</p>
        <p>
          公司拥有强大的技术背景团队，致力于光伏领域内的技术研发，推动光伏电站的开发建设及投资、构建高效储能系统、打造智能化微电网项目。
        </p>
        <p>
          通过不断追求技术创新，为客户提供全方位的智能分布式光伏解决方案，实现能源的优化管理，赋能企业降本增效。
        </p>
        <p>
          公司秉承可持续发展的理念，致力于为社会和环境做出积极贡献，创造绿色清洁能源的无限可能。
        </p>
      </div>
    </div>
    <div class="flex flex-col h-screen gap-20px fade-trigger <md:flex-col">
      <div
        class="relative overflow-hidden rounded-2xl flex-1 cursor-pointer bg-[var(--main-color)] group"
      >
        <img
          src="http://image-volt.test.upcdn.net/public/solar-8244680.jpg"
          alt=""
          class="solution-img w-100% h-[calc(100%-20px)] object-cover group-hover:transform-scale-110 transition-duration-1000 <md:h-400px"
        />
        <div class="absolute left-10 top-40px overflow-hidden">
          <h1 class="text-size-2xl">使命</h1>
          <p class="flex items-center justify-center text-gray-3 mt-10px">
            致力于提供智能分布式光伏解决方案
          </p>
        </div>
      </div>
      <div
        class="relative overflow-hidden rounded-2xl flex-1 cursor-pointer bg-[var(--main-color)] group"
      >
        <img
          src="http://image-volt.test.upcdn.net/public/sustainabililty-scaled.jpg"
          alt=""
          class="solution-img w-100% h-[calc(100%-20px)] object-cover group-hover:transform-scale-110 transition-duration-1000 <md:h-400px"
        />
        <div class="absolute left-10 top-40px overflow-hidden">
          <h1 class="text-size-2xl">愿景</h1>
          <p class="flex items-center justify-center text-gray-3 mt-10px">
            创造绿色能源的无限可能
          </p>
        </div>
      </div>
      <div
        class="relative overflow-hidden rounded-2xl flex-1 cursor-pointer bg-[var(--main-color)] group"
      >
        <img
          src="http://image-volt.test.upcdn.net/public/calut.jpg"
          alt=""
          class="solution-img w-100% h-[calc(100%-20px)] object-cover object-[0_21%] group-hover:transform-scale-110 transition-duration-1000 <md:h-400px"
        />
        <div class="absolute left-10 top-40px overflow-hidden">
          <h1 class="text-size-2xl">企业文化</h1>
          <p class="flex items-center justify-center text-gray-3 mt-10px">
            诚信 创新 进步 突破
          </p>
        </div>
      </div>
    </div>
  </section>
  <ContactFooter />
</Layout>

<script>
  import createFullpageScroll from '@/hooks/createFullpageScroll';
  const sectionsList = document.querySelectorAll('section');
  createFullpageScroll(sectionsList);
</script>

<style is:global>
  .profile {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 24px;
      font-weight: 400;
      position: relative;
      display: inline-block;
      padding-bottom: 10px;
    }
  }
</style>
