---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
import ContactFooter from '@/components/ContactFooter.astro';
---

<Layout title="辐特佳新能源">
  <Banner title="关于volt+" imgSrc="/img_14.jpg" />
  <div class="content_section mb-30vh">
    <div class="profile">
      <h1 class="title font-serif text-center text-size-4xl text-center fade-trigger mt-5 mb-2">volt+是谁</h1>
      <div class="content text-gray-5 px-40 mt-10 <md:px-0">上海辐特佳新能源是国内专注于分布式光伏领域的创新企业。公司拥有强大的技术背景团队，致力于光伏领域内的技术研发，推动光伏电站的开发建设及投资、构建高效储能系统、打造智能化微电网项目。通过不断追求技术创新，为客户提供全方位的智能分布式光伏解决方案，实现能源的优化管理，赋能企业降本增效。公司秉承可持续发展的理念，致力于为社会和环境做出积极贡献，创造绿色清洁能源的无限可能</div>
    </div>
    <div class="vision">
      <div class="content max-w-7xl m-auto flex justify-center items-center <md:flex-col w-100vw">
        <div class="item_1 w-30% <md:(w-50%)">
          <div class="title">使命</div>
          <div class="text_box">
            <div class="text">致力于提供智能分布式光伏解决方案</div>
          </div>
        </div>
        <div class="item_2 w-30% <md:(w-50%)">
          <div class="title">愿景</div>
          <div class="text_box">
            <div class="text">创造绿色能源的无限可能</div>
          </div>
        </div>
        <div class="item_3 w-30% <md:(w-50%)">
          <div class="title">企业文化</div>
          <div class="text_box">
            <div class="text">诚信 创新 进步 突破</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ContactFooter />
</Layout>

<script>
  import createLenis from '@/hooks/createLenis';
  createLenis();
</script>

<style is:global>
  .title_section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 600;
    color: white;
    letter-spacing: 10px;
    background-image: url('/img_14.jpg');
    background-size: cover;
    background-position: center center;
  }
  .content_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .profile {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    .title {
      font-size: 24px;
      font-weight: 400;
      position: relative;
      display: inline-block;
      padding-bottom: 10px;
    }
  }
  .vision .content {
    display: flex;
  }
  .vision .content > div {
    height: 50vh;
    margin: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(229 231 235) 2px;
    border-radius: 20px;
    .title {
      color: white;
      font-size: 25px;
      margin-top: 18px;
    }

    .text_box {
      flex: 1;
      position: relative;
      width: 80%;
      margin-top: 20px;
      .text {
        position: relative;
        color: white;
        font-size: 16px;
        text-align: center;
        margin: 20px;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
    }
    .text_box::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95%;
      background-color: black;
      border-radius: 20px;
      opacity: 0.4;
    }
  }

  .vision .content > div:hover {
    transition: 0.5s;
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.01);
  }

  .vision .item_1 {
    background-image: url('/img_15.jpg');
    background-size: cover;
    background-position: center center;
  }
  .vision .item_2 {
    background-image: url('/img_11.jpg');
    background-size: cover;
    background-position: center center;
  }
  .vision .item_3 {
    background-image: url('/img_8.jpg');
    background-size: cover;
    background-position: center center;
  }
</style>
