---
import AdminLayoutIndex from '@/layouts/AdminLayoutIndex.astro';
---

<AdminLayoutIndex title="辐特佳新能源">
  <div class="w-100% h-100% flex flex-col items-center justify-center">
    <i class="i-carbon:face-neutral-filled w-100px h-100px text-amber"></i>
    <div>暂无数据</div>
  </div>
</AdminLayoutIndex>
