---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
---

<Layout title="辐特佳新能源">
  <Banner title="工商业解决方案" imgSrc="/img_6.jpg" />
  <div class="intro">
    <div class="title">商业模式</div>
    <div class="intro_content">
      商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍商业模式介绍
    </div>
  </div>
  <div class="cases">
    <div class="item_1">
      <div class="item_content">
        <div class="item_name">工商业屋顶解决方案</div>
        <div class="item_desc">
          <div class="item_desc_content">
            工商业屋顶分布式光伏电站应用是最为广泛的光伏发电系统，建在城市建筑物屋顶，与公共电网一起为工厂、商场等供电。系统根据不同类型屋面设计易安装、高可用的解决方案，可有效延长建筑物屋顶使用寿命，降低建筑物能耗。
          </div>
        </div>
      </div>
    </div>
    <div class="item_2">
      <div class="item_content">
        <div class="item_desc">
          <div class="item_desc_content">
            新能源充电站是应用于停车场、机场、加油站等场景的分布式光伏解决方案。使用绿色新能源提供安全舒适的充电体验、经济的电力供应策略、高质量的出行方案，助力驱动新能源汽车与可再生能源高效协同。
          </div>
        </div>
        <div class="item_name">新能源充电站解决方案</div>
      </div>
    </div>
    <div class="item_3">
      <div class="item_content">
        <div class="item_name">高耗能脱碳方案</div>
        <div class="item_desc">
          <div class="item_desc_content">
            高耗能脱碳方案应用于钢铁、化工等高耗能企业的绿色生产。光伏作为清洁能源可以与高耗能企业的自备电厂协调发电，满足消纳需求，在多种工艺流程中实现脱碳，助力高耗能企业达成双碳目标。
          </div>
        </div>
      </div>
    </div>
    <div class="item_4">
      <div class="item_content">
        <div class="item_desc">
          <div class="item_desc_content">
            高速公路光伏应用于高速服务区、高速收费站内的相关建构筑物屋顶。方案充分利用沿线护坡、隔离带、匝道圈等闲置土地，发展绿色能源高速公路附属建筑，提升经济价值的同时解决偏远区域用电问题。
          </div>
        </div>
        <div class="item_name">高速公路光伏解决方案</div>
      </div>
    </div>
  </div>
  <div class="contact">
    <a class="text" href="/contact">立即联系</a>
  </div>
</Layout>

<style is:global>
  .intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: #f4f2f2bf;
    .title {
      font-size: 24px;
      font-weight: 400;
      position: relative;
      display: inline-block;
      padding-bottom: 10px;
    }
    .title::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 50%;
      border-bottom: 10px solid #006400;
      transform: translateX(50%);
    }
    .intro_content {
      height: 70%;
      line-height: 35px;
      display: flex;
      align-items: center;
      margin-top: 40px;
      border-radius: 20px;
      padding: 25px;
    }
  }
  .cases {
    margin-top: 30px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45vh;
      .item_name {
        width: 40%;
        font-size: 20px;
        font-weight: 400;
      }
      .item_desc {
        flex: 1;
        color: white;
        position: relative;
        padding: 30px;
        background-size: cover;
        background-position: center;
        .item_desc_content {
          z-index: 1;
        }
      }
    }
    .item_content {
      height: 40vh;
      width: 70vw;
      overflow: hidden;
      .item_name {
        height: 100%;
      }
    }
  }
  .item_desc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
  .item_1 {
    .item_desc {
      background-image: url('/img_4.jpg');
    }
  }
  .item_2 {
    .item_desc {
      background-image: url('/img_11.jpg');
    }
  }
  .item_3 {
    .item_desc {
      background-image: url('/img_2.jpg');
    }
  }
  .item_4 {
    .item_desc {
      background-image: url('/img_9.jpg');
    }
  }
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    .text {
      height: 100px;
      width: 200px;
      display: flex;
      font-size: 20px;
      font-weight: 400;
      color: white;
      justify-content: center;
      align-items: center;
      background-color: #006400;
    }
    .text:hover {
      color: #006400;
      background-color: rgba(200, 200, 200, 0.5);
    }
  }
</style>
