---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="辐特佳新能源">
  <div class="relative overflow-hidden">
    <video
      src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm"
      autoplay=""
      muted=""
      width="100%"
      loop=""></video>
  </div>
  <div>
    <img src="/img_1.jpg" alt="" />
  </div>
</Layout>
