---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="福特加新能源">
  <div class="text-white h-lvh flex justify-center">
    <h1 class="text-center w-40 h-20 bg-cyan-400">hello</h1>
  </div>
</Layout>
