---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="辐特佳新能源">
  <section class="relative overflow-hidden">
    <video
      src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm"
      autoplay=""
      muted=""
      width="100%"
      loop=""></video>
    <div class="bg-[var(--main-color)] w-10 h-10px rounded m-auto my-10"></div>
  </section>
  <section
    class="bg-[url(/img_4.jpg)] bg-no-repeat bg-center bg-cover w-full h-screen -mt-100 box-border"
  >
    <div>
      6大应用场景
      分布式光伏指通过利用空闲屋顶安装光伏发电系统，产生可持续性绿色清洁能源，是一种可再生能源的利用方式。
    </div>
  </section>
  <section
    class="bg-[url(/img_1.jpg)] bg-no-repeat bg-center bg-cover w-80% h-screen pt-[100px] <md:h-auto py-[35px] relative"
  >
    <div>2030前实现碳达峰 2060前实现碳中和 光伏-加速能源转型的必然选择</div>
  </section>
  <div class="container_section">
    <div class="policy">
      <div class="title">碳达峰、碳中和</div>
      <div class="more">
        <div class="more_text">
          概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍
        </div>
      </div>
    </div>
    <div class="introduction">
      <div class="title">光伏的探寻</div>
      <div class="more">
        <a class="more_btn" href="/introduction">了解更多 &rarr;</a>
        <div class="more_text">
          概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍
        </div>
      </div>
    </div>
    <div class="industry">
      <div class="title">工商业解决方案</div>
      <div class="more">
        <a class="more_btn" href="/solution">了解更多 &rarr;</a>
        <div class="more_text">
          概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍
        </div>
      </div>
    </div>
    <div class="family">
      <div class="title">家庭智能解决方案</div>
      <div class="more">
        <a class="more_btn" href="/family">了解更多 &rarr;</a>
        <div class="more_text">
          概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍概括介绍
        </div>
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .container_section {
    div {
      display: flex;
      flex-direction: column;
      height: 60vh;
      position: relative;
      .title {
        width: 40%;
        margin: 50px 50px 0 50px;
        font-size: 28px;
        font-weight: 400;
        flex: 1;
      }
      .more {
        position: relative;
        height: 50vh;
        margin: 50px;
        overflow: hidden;
        background-image: url('/img_7.jpg');
        display: flex;
        align-items: flex-end;
        .more_text {
          color: white;
          width: 60%;
          margin: 50px;
          padding: 20px;
          display: flex;
          justify-content: center;
          overflow: hidden;
        }
        .more_btn {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          border: 1px solid rgba(200, 200, 200, 0.5);
          border-radius: 20px;
          width: 150px;
          height: 50px;
          left: 50px;
          bottom: 50px;
        }
        .more_btn:hover {
          background-color: rgba(200, 200, 200, 0.5);
        }
      }
    }
  }
  .title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 40%;
    border-bottom: 10px solid var(--main-color);
    border-right: 10px solid transparent;
  }
</style>
