<section
  class="section flex items-center justify-center w-full h-40vh bg-[url(/public/img_21.jpg)] bg-no-repeat bg-center bg-cover"
>
  <div class="text-white">
    <h1 class="text-center text-4xl fw-500">创造绿色清洁能源的无限可能</h1>
    <a
      href="/contact"
      class="w-35 bg-[var(--main-color)] h-[34px] text-size-14px flex items-center justify-center rounded-full m-auto mt-4"
      >立即联系</a
    >
  </div>
</section>
