<section
  class="section flex items-center justify-center w-full h-40vh bg-[url(/public/img_21.jpg)] bg-no-repeat bg-center bg-cover"
>
  <div class="text-white">
    <h1 class="text-center text-4xl fw-500">开启绿色低碳新时代</h1>
    <a
      href="/contact"
      class="contact-btn w-35 h-[34px] text-size-14px flex items-center justify-center border border-white rounded-[34px] m-auto mt-8"
      >立即联系</a
    >
  </div>
</section>

