---
import AdminLayoutIndex from '@/layouts/AdminLayoutIndex.astro';
---

<AdminLayoutIndex title="辐特佳新能源">
  <div class="w-100% h-100% flex flex-col items-center justify-center">
    详情
  </div>
</AdminLayoutIndex>
