---
import Nav from '@/components/nav';
import LogoSvg from '@/components/logo/logo';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      is:inline
      type="text/javascript"
      src="https://webchat.7moor.com/javascripts/7moorInit.js?accessId=b39ec750-246c-11ef-9363-0d3723ecb1d0&autoShow=true&language=ZHCN"
      async="async"></script>
  </head>
  <body class="min-h-screen relative">
    <!-- prefetch img -->
    <div class="invisible h-0">
      <a href="/img_4.jpg" data-astro-prefetch></a>
      <a href="/img_5.jpg" data-astro-prefetch></a>
      <a href="/img_6.jpg" data-astro-prefetch></a>
      <a href="/img_14.jpg" data-astro-prefetch></a>
      <a href="/img_16.jpg" data-astro-prefetch></a>
    </div>
    <Nav client:load />
    <div>
      <slot />
    </div>
    <footer
      class="bg-white bottom-0 border-[var(--main-color)] border-t mt-20 w-100%"
    >
      <div class="m-auto max-w-5xl">
        <div class="flex justify-between border-gray border-b pt-10 pb-2 gap-4">
          <div class="text-[var(--main-color)]">
            <LogoSvg />
            <h1 class="text-black px-2">辐特佳新能源</h1>
          </div>
          <div class="text-xs flex items-end self-end">
            公司秉承可持续发展的理念，致力于为社会和环境做出积极贡献<br />
            创造绿色清洁能源的无限可能
          </div>
        </div>
        <div class="flex justify-between px-2 py-4">
          <div class="flex-1">
            <h1 class="flex items-center mt-2">
              <i
                class="i-carbon:phone-voice-filled text-[var(--main-color)] mr-2"
              ></i>
              <span>4008-613-617</span>
            </h1>
            <h1 class="flex items-center mt-2">
              <i class="i-carbon:location-filled text-[var(--main-color)] mr-2"
              ></i>
              <span>上海市宝山区军工路5169号A9-102室</span>
            </h1>
          </div>
          <div class="flex items-center gap-4 <md:hidden">
            <a
              href="/introduction"
              class="text-xs hover:(border-b border-[var(--main-color)]) pb-2"
              >分布式光伏</a
            >
            <a
              href="/solution"
              class="text-xs hover:(border-b border-[var(--main-color)]) pb-2"
              >工商业解决方案</a
            >
            <a
              href="/family"
              class="text-xs hover:(border-b border-[var(--main-color)]) pb-2"
              >家庭解决方案</a
            >
            <a
              href="/about"
              class="text-xs hover:(border-b border-[var(--main-color)]) pb-2"
              >关于 volt +</a
            >
            <a
              href="/contact"
              class="text-xs hover:(border-b border-[var(--main-color)]) pb-2"
              >联系我们</a
            >
          </div>
        </div>
      </div>
      <div class="bg-black text-white text-xs">
        <div class="m-auto h-40px max-w-5xl flex items-center justify-between">
          <span
            >© 2019-2020 版权所有上海辐特佳新能源科技有限公司 xxxxxx
            公安机关备案号：xxxxx</span
          >
          <a href="javascript:;">返回顶部</a>
        </div>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --foreground: 0 0% 3.9%;
    --background: 0 0% 100%;
    --muted-foreground: 230 78% 91%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --main-color: #34b366ff;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  input {
    outline: none;
  }
</style>
